<div class="jumbotron">
<h1 class="text-center">
	Bem-vindo ao Funcionarios - GED
</h1>
</div>
<button class="btn btn-primary" ng-click="incrementa()">
Novo
</button>
<input ng-model="filtro" type="search" placeholder="parte do nome">
<p>Funcionarios cadastrados: {{funcionarios.length}}</p>
<div class="table-responsive">
<table class="table table-hover">
	<tr ng-repeat="funcionario in funcionarios | filter: filtro">
		<td>
			<a ng-href="#/funcionario/{{funcionario._id}}">{{funcionario.nome}}</a>
		</td>
		<td>{{funcionario.email}}</td>
		<td class="text-center">
			<button class="btn btn-warning" ng-click="remove(funcionario)">
				Remover
			</buttom>
		</td>
	</tr>
</table>